<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>godEye</title>
    <link rel="stylesheet" href="{{ BASE_URL }}assets/css/main.css">
</head>

<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ BASE_URL }}assets/svg/logo.svg" class="App-logo" alt="logo" />
            <p>
                <code>Welcome To Polinema godEye
                    <br>
                    Nothings here. It is only for the rest server from godEye Mobile Apps
                </code>
            </p>
        </header>
    </div>

</body>

</html>